/* textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus,
label:focus, 
button:focus,
button:active,
button:hover,
btn:hover,
.btn:active,
.btn.active, */
input:focus[type=text]
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

input[type=text] {
    border-bottom: 1px solid lightgray !important;
}
